.container{
    background-color: #3B455A;
}

.footer {
  width: 80%;
  align-items: center; 
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
  } 

.icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    margin-top: 30px;
    color: white;
}

.facebook:hover, .instagram:hover, .youtube:hover{
    color: rgb(85, 195, 219);
}
img{
    width: 200px;
    height: auto;
}
.h3 p {
    margin: 5px 0;
    color: #b1b3b6;
}

.h3 p:hover{
    color: white;
}
.h3 h3{
    margin-bottom: 10px;
    color: white;
}

@media screen and (max-width: 620px) {
    .footer{
       display: block;
       text-align: center;
    }

    .icons{
        justify-content: center;
    }
    
    .h3 h3{
    margin-top: 10px;
}
}